{% assign person_id = '/' | absolute_url | append: '#person' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "@id": {{ canonical_url | append: '#profile-page' | jsonify }},
  "url": {{ canonical_url | jsonify }},
  "name": {{ seo_title | jsonify }},
  "description": {{ seo_description | jsonify }},
  "mainEntity": {
    "@type": "Person",
    "@id": {{ person_id | jsonify }},
    "name": {{ site.data.profile.name | jsonify }},
    "givenName": {{ site.data.profile.given_name | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }},
    "image": {{ site.data.profile.default_image | absolute_url | jsonify }},
    "jobTitle": {{ site.data.profile.headline | jsonify }},
    "description": {{ site.data.profile.description | jsonify }},
    "sameAs": [
      {% for social in site.data.profile.socials %}{{ social.url | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %}
    ]
  }
}
</script>
