{% assign person_id = '/' | absolute_url | append: '#person' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "@id": {{ canonical_url | append: '#profile-page' | jsonify }},
  "url": {{ canonical_url | jsonify }},
  "name": {{ seo_title | jsonify }},
  "description": {{ seo_description | jsonify }},
  "dateModified": {{ site.data.profile.profile_modified | jsonify }},
  "mainEntity": {
    "@type": "Person",
    "@id": {{ person_id | jsonify }},
    "name": {{ site.data.profile.name | jsonify }},
    "alternateName": {{ site.data.profile.aliases | jsonify }},
    "identifier": {{ site.data.profile.handle | jsonify }},
    "givenName": {{ site.data.profile.given_name | jsonify }},
    "familyName": {{ site.data.profile.family_name | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }},
    "jobTitle": {{ site.data.profile.job_title | jsonify }},
    "description": {{ site.data.profile.description | jsonify }},
    "knowsAbout": {{ site.data.profile.knows_about | jsonify }},
    "sameAs": [
      {% for social in site.data.profile.socials %}{% assign same_as_url = social.same_as | default: social.url %}{{ same_as_url | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %}
    ]
  }
}
</script>
